.props {
	margin: 10px 0px;
	padding: 0px;
}

.props .value, .props .name {
	width: 200px;
	display: inline-block;
}

.props input {
	width: 186px;
	margin-right: 10px;
}

.props button {
	width: 120px;
	margin-right: 10px;
}
