* {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style-type: none;
}

.main-content {
  margin-left: 300px;
  padding: 10px;
}

.main-content form {
  margin-bottom: 10px;
}
.main-content .default {
  color: rgba(0, 0, 0, 0.87);
  padding: 6px 16px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  margin-bottom: 10px;
}

.main-content {
  display: flex;
}

.main-content .item {
  width: 65%;
}

.main-content .json-wrapper {
  width: 35%;
}

